#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

body {
    margin: 0;
}

a {
    color: black;
}


#grid #article {
    padding: 20px;
}

h1 {
    font-size: 40pt;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

#grid ol {
    padding-left: 33px;
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
}

@media(max-width:650px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }
}